{% extends "base.html" %}
{% block sidebar %}
{% if user.is_authenticated %}
		<a href="/loggedin">
			<input type="button" value="Strona główna" id="menu" />
		</a>
	{% else %}
		<a href="/">
			<input type="button" value="Strona główna" id="menu" />
		</a>
		<a href="/admin/">
			<input type="button" value="Admin" id="menu" />
		</a>
{% endif %}
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
	<h2>Pilne rachunki do zapłacenia</h2>
	{% if rachunki %}
	<table class= "rachunki">
		<tr>
			<th>Tytuł</th><th>Opis</th><th>www</th><th>Kategoria</th><th>Data</th><th>Cena</th>
		</tr>
		{% for entry in rachunki %}
				{% if entry.data_zaplaty >= today and entry.data_zaplaty < seven_days_ago %}
					<tr>	
						<td>{{ entry.tytul }}</td><td>{{ entry.opis }}</td>
						{% if entry.www %}
							<td><a href={{ entry.www }}>Link</a>
						{% else %}
							<td>-</td>
						{% endif %}		
						</td><td>{{ entry.id_k }}</td><td>{{ entry.data_zaplaty }}</td><td>{{ entry.cena }} zł</td>
					</tr>
				{% endif %}			
		{% endfor  %}
	   </table>
	{% else %}
		<p>Brak ważnych rachunków do zapłacenia</p>
	{% endif %}
	{% else %}
		<p>Nie jesteś uprawniony do oglądania tych treści!</p>
		<p>Kliknij <a href="/login/">tu</a> aby się zalogować.</p>
{% endif %}
{% endblock %}



